@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
 color: transparent;
    position: absolute;
    display: inline-block;

top: 131px;
right: 10%;
    width: 39px;
    height: 39px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url("/images/ong.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:  7px 13px ;
    border: none;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
}
 
.slick-prev
{
    right: 14%;
    background-image: url("/images/chap.svg");

}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
 

@media screen and (max-width: 1028px ) {
    .slick-next{
        right: 8%   ;
        }
            .slick-prev{
               right: 13% ;
        
            }
        
}


@media screen and (max-width: 800px ) {
    .slick-next{
        right: 5%   ;
        }
            .slick-prev{
               right: 11% ;
        
            }
        
}

@media screen and (min-width:2900px ) and (max-width:6000px) {
.slick-next{
right: calc(50%  - 900px ) ;
}
    .slick-prev{
        right: calc(50%  - 850px ) ;

    }
}



@media screen and (max-width: 768px ) {
    .slick-next{
 top: 624px;
 right: calc(50% - 28%) ;
    
    }
            .slick-prev{
 top: 624px;
           
           
                right: calc(50% + -17%) ;
        
            }
        
}

@media screen and (max-width: 418px ) {
    .slick-next{
 
 right: calc(50% - 24%) ;
    
    }
            .slick-prev{
 
           
           
                right: calc(50% + -15%) ;
        
            }
        
}

@media screen and (max-width:380px) {
    .slick-next{
    
        right: calc(50% - 28%) ;
           
           }
                   .slick-prev{                
                  
                       right: calc(50% + -13%) ;
               
                   }
       
}
 
/* Dots */
.slick-dotted.slick-slider
{
  
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

 