.footer{
  padding-top: 66px;
  padding-bottom: 53px;
 background-color:  #1b1b1b;
}
 
.logo-text-big{
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.foot-itms{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 186.3%;
}
.foot-itms-one{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 26px;
padding-bottom: 15px;
}
.foot-contact-big{
  margin-bottom: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
}
.foot-contact-middle{
  margin-bottom: 11px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  
}
.foot-contact-tel{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.foot-list-icon{
  max-width: 290px;
}
.hr-fot{
  margin-bottom: 29px;
  border: 0.8px solid #D2D2D2;
}
.fot-box{
  background-color:  #1b1b1b;
padding-bottom: 29px;
}
.box-text-fot{
  margin-bottom: 0;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 190.6%;
}